@model Project_10.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminCRUD.cshtml";

}


<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-6 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8" style="margin-top:20px !important">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">Details</h3>

                            </div>

                            <div>
                                <h4>Order</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.OrderPrice)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.OrderPrice)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.isCheckout)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.isCheckout)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.totalAmount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.totalAmount)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.orderDate)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.orderDate)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Address_one)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Address_one)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Address_two)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Address_two)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.email)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.email)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.phoneNumber)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.phoneNumber)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.FirstName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.LastName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Payment_Method)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Payment_Method)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.City)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.City)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Messege)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Messege)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.AspNetUser.Email)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AspNetUser.Email)
                                    </dd>

                                </dl>
                            </div>
                            @*<p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>*@

                            <div class="text-center">
                                <a href="~/Orders/Index" class="btn bg-gradient-dark w-100">
                                    Back to List
                                </a>

                            </div>
                          
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>