
@{
    ViewBag.Title = "CheckOut";
}



@{
    ViewBag.Title = "checkOut";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

@{
    Project_10.Models.Project10Entities db = new Project_10.Models.Project10Entities();
    string email = User.Identity.Name;
    var customer = db.Customers.Where(x => x.CustomerEmail == email).FirstOrDefault();
    var order = db.Orders.Where(x => x.email == email).OrderByDescending(x => x.orderDate).FirstOrDefault();
    //var details = db.Order_Details.Where(x => x.OrderId == order.OrderId).FirstOrDefault();
    string[] name = customer.CustomerName.Split();
    string firstname = name[0];
    string lastname = "";
    string address1 = "";
    int phone = 0;
    string address2 = "";
    try
    {
        if (name[1] != null)
        {
            lastname = name[1];
        }
    }
    catch { }


    if (order.Address_one != null)
    {
        address1 = order.Address_one;
    }
    if (order.Address_two != null)
    {
        address2 = order.Address_two;
    }
    if (order.phoneNumber != null)
    {
        phone = Convert.ToInt32(order.phoneNumber);
    }
}


<!--Checkout Content-->
@*@using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { id = "myForm" }))*@

@using (Html.BeginForm("CheckOut", "Carts", FormMethod.Post, new { id = "myForm" }))
{
   <div class="section checkout-style1 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                <!--Billing details-->

                <div class="block  mb-3 billing-detail">
                    <div class="block-content">
                        <h2 class="title text-uppercase">Billing details</h2>
                        <div class="create-ac-content">
                            @*<form method="post" action="#">*@

                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                        <label for="input-firstname" class="form-label">First Name <span class="required">*</span></label>
                                        <input name="FirstName" id="input-firstname" type="text" required="" class="form-control" value="@firstname">
                                    </div>
                                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                        <label for="input-lastname" class="form-label">Last Name <span class="required">*</span></label>
                                        <input name="LastName" value="@lastname" id="input-lastname" type="text" required="" class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                        <label for="input-email" class="form-label">E-Mail <span class="required">*</span></label>
                                        <input name="email" value="@customer.CustomerEmail" id="input-email" type="email" required="" class="form-control">
                                    </div>
                                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                        <label for="input-telephone" class="form-label">Phone <span class="required">*</span></label>
                                        <input name="phoneNumber" id="input-telephone" type="text" class="form-control" value="@phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 mb-2">
                                        <label for="input-address-1" class="form-label">Street address <span class="required">*</span></label>
                                        <input name="Address_one" value="@address1" id="input-address-1" type="text" required="" placeholder="Street address" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 mb-2">
                                        <input name="Address_two" value="@address2" id="input-address-2" type="text" required="" placeholder="Apartment, suite, unit etc. (optional)" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                            <label for="input-postcode" class="form-label">Postcode / ZIP <span class="required">*</span></label>
                                            <input name="postcode" value="" id="input-postcode" type="text" class="form-control">
                                        </div>*@

                                    <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                                        <label for="address_province" class="form-label">Town / City <span class="required">*</span></label>
                                        <select id="address_province" name="City" data-default="" required="" class="form-control">
                                            <option value="0" label="Select a state" selected="selected">Select a city</option>
                                            <option value="Irbid">Irbid</option>
                                            <option value="Ajloun">Ajloun</option>
                                            <option value="Jerash">Jerash</option>
                                            <option value="Mafraq">Mafraq</option>
                                            <option value="Balqa">Balqa</option>
                                            <option value="Amman">Amman</option>
                                            <option value="Zarqa">Zarqa</option>
                                            <option value="Karak">Karak</option>
                                            <option value="Tafilah">Tafilah</option>
                                            <option value="Ma'an">Ma'an</option>
                                            <option value="Aqaba">Aqaba</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-md-12 col-lg-12 col-xl-12 mb-0">
                                        <label for="input-company" class="form-label">Message</label>
                                        <textarea name="Messege" class="resize-both form-control" rows="3" placeholder="Beautiful words to Send whith your Gift"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
                <!--End Billing details-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                <!--Order Summary-->
                <div class="block mb-3 order-summary">
                    <div class="block-content">
                        <h2 class="title text-uppercase">Your order</h2>
                        <div class="table-responsive-sm order-table">
                            <table class="table table-hover text-center">



                                <tr>
                                    <td class="text-start text-uppercase"><b>Shipping</b></td>
                                    <td class="text-start">Free Shipping</td>
                                </tr>
                                <tr>
                                    <td class="text-start text-uppercase"><b>Total</b></td>
                                    <td class="text-start red-text"><b>JOD @ViewBag.totalPrice</b></td>
                                </tr>
                            </table>
                        </div>

                     
                        
                    <div class="order-button-payment mt-4 clearfix">
                        <input type="submit" value="Place Order" onclick="preventDefault(event)" class="btn btn-danger" />

                        <script>
                            function preventDefault(event) {
                                event.preventDefault();

                                // Get the form element
                                var form = document.getElementById("myForm");

                                // Create a FormData object to submit the form data
                                var formData = new FormData(form);

                                // Submit the form using an AJAX request
                                fetch(form.action, {
                                    method: 'POST',
                                    body: formData
                                })
                                    .then(response => {

                                        // Show the success SweetAlert after the action is complete
                                        Swal.fire({
                                            position: 'center',
                                            icon: 'success',
                                            title: 'Your payment has been successfully Done',
                                            showConfirmButton: false,
                                            timer: 1500
                                        })

                                            .then(function () {
                                                window.location.href = "/Home/Index";

                                                Home / Index


                                            })

                                    })

                            }
                        </script>

                       


                    </div>

                    </div>
                </div>
                <!--End Order Summary-->
            </div>
        </div>
        
    </div>
    </div>
    
}
<!--End Checkout Content-->
