@model List<Project_10.Models.Cart>



@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}





<head>


    <style>
        .shopping-cart {
            padding-bottom: 50px;
            font-family: 'Montserrat', sans-serif;
        }

            .shopping-cart.dark {
                background-color: #f6f6f6;
            }

            .shopping-cart .content {
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
                background-color: white;
            }

            .shopping-cart .block-heading {
                padding-top: 50px;
                margin-bottom: 40px;
                text-align: center;
            }

                .shopping-cart .block-heading p {
                    text-align: center;
                    max-width: 420px;
                    margin: auto;
                    opacity: 0.7;
                }

            .shopping-cart .dark .block-heading p {
                opacity: 0.8;
            }

            .shopping-cart .block-heading h1,
            .shopping-cart .block-heading h2,
            .shopping-cart .block-heading h3 {
                margin-bottom: 1.2rem;
                color: #3b99e0;
            }

            .shopping-cart .items {
                margin: auto;
            }

                .shopping-cart .items .product {
                    margin-bottom: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                    .shopping-cart .items .product .info {
                        padding-top: 0px;
                        text-align: center;
                    }

                        .shopping-cart .items .product .info .product-name {
                            font-weight: 600;
                        }

                            .shopping-cart .items .product .info .product-name .product-info {
                                font-size: 14px;
                                margin-top: 15px;
                            }

                                .shopping-cart .items .product .info .product-name .product-info .value {
                                    font-weight: 400;
                                }

                        .shopping-cart .items .product .info .quantity .quantity-input {
                            margin: auto;
                            width: 80px;
                        }

                        .shopping-cart .items .product .info .price {
                            margin-top: 15px;
                            font-weight: bold;
                            font-size: 22px;
                        }

            .shopping-cart .summary {
                border-top: 2px solid #f7444e;
                background-color: #F5F5F5;
                height: 100%;
                padding: 30px;
            }

                .shopping-cart .summary h3 {
                    text-align: center;
                    font-size: 1.3em;
                    font-weight: 600;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                .shopping-cart .summary .summary-item:not(:last-of-type) {
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }

                .shopping-cart .summary .text {
                    font-size: 1em;
                    font-weight: 600;
                }

                .shopping-cart .summary .price {
                    font-size: 1em;
                    float: right;
                }

                .shopping-cart .summary button {
                    margin-top: 20px;
                }

        @@media (min-width: 768px) {
            .shopping-cart .items .product .info {
                padding-top: 25px;
                text-align: left;
            }

                .shopping-cart .items .product .info .price {
                    font-weight: bold;
                    font-size: 22px;
                    top: 17px;
                }

                .shopping-cart .items .product .info .quantity {
                    text-align: center;
                }

                    .shopping-cart .items .product .info .quantity .quantity-input {
                        padding: 4px 10px;
                        text-align: center;
                    }
        }
    </style>


    <title>Shopping Cart</title>




</head>




<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                @*<h2>Shopping Cart</h2>*@
                <div class="heading_container heading_center">
                    <h2 style="color:black">
                        Shopping <span>Cart</span>
                    </h2>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
          
            <div class="row">
            <div class="content col-lg-9">
                <div class="row">

                    @*@{ 
                        Project_10.Models.Cart cart = new Project_10.Models.Cart();
                        
                       
                    }*@ 
                 @{ 
                     decimal total = 0;
                 }
                    @foreach (var item in Model)
                    {



                        <div class="col-md-12 col-lg-12">
                            <div class="items">
                                <div class="product">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-fluid mx-auto d-block image" src="~/Images/@item.Product.ProductImage">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-3 product-name">
                                                        <div class="product-name">
                                                            <a href="#" style="color: #f7444e">@item.Product.ProductName</a>
                                                            <div class="product-info">

                                                                <span class="value">@item.Product.ProductDescription</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 quantity">
                                                        <label for="quantity">Quantity:</label> @*@item.Quantity*@
                                                        <input id="quantity" type="number"  class="form-control quantity-input" value="@item.Quantity">
                                                    </div>
                                                    <div class="col-md-2 price">
                                                        @{ 
                                                            var price = item.Product.price * item.Quantity;
                                                        }
                                                        <span>Price @price $</span>
                                                    </div>
                                                    <div class="col-md-3 price">

                                                        @*<a href="@Url.Action("Remove", "Cart", new { id = item.ProductId })"><i class="fa fa-trash" style="color: #f7444e" aria-hidden="true"></i></a>*@


                                                        @using (Html.BeginForm("Delete", "Carts", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.Hidden("id", item.CartId)
                                                            <input type="submit" value="Remove" class="btn btn-danger" />
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        total += Convert.ToDecimal(price); 
                    }


                </div>

            </div>
            <div class="col-md-12 col-lg-3">
                <div class="summary">
                    <h3>Summary</h3>
                    <div class="summary-item"><span class="text">Subtotal</span><span class="price">$@total</span></div>
                    <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                    <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div>
                    <div class="summary-item"><span class="text">Total</span><span class="price">$@total</span></div>
                    @*<button type="button" class="btn  btn-lg btn-block" style="background-color: #f7444e">Checkout</button>*@
                    <a href="~/Carts/CheckOut/@ViewBag.Id" class="btn  btn-lg btn-block" style="background-color: #f7444e">Check Out</a>
                </div>
            </div>
            </div>
        </div>
    </section>
</main>

@*jQery
    <script src="~/js/jquery-3.4.1.min.js"></script>
     popper js
    <script src="~/js/popper.min.js"></script>
     bootstrap js
    <script src="~/js/bootstrap.js"></script>
     custom js
    <script src="~/js/custom.js"></script>*@

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

