@model Project_10.Models.Review

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminCRUD.cshtml";

}



<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-6 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8" style="margin-top:20px !important">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">Edit</h3>

                            </div>
                            <!-- Form start -->
                            <div class="card-body">


                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Review</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ReviewId)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.flag, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                @Html.DropDownListFor(model => model.flag, new List<SelectListItem>
                                                   {
                                                   new SelectListItem { Text = "Show", Value = "True" },
                                                  new SelectListItem { Text = "Hide", Value = "False" }
                                               }, new { @class = "form-control" }) 
                                                @Html.ValidationMessageFor(model => model.flag, "", new { @class = "text-danger" })
                                                </div>
                                        </div>
                                    </div>

                                   



                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                                }

                               

                                <div class="text-center">
                                    <a href="/Reviews/Index" class="btn bg-gradient-dark w-100">
                                        Back to List
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
