@model IEnumerable<Project_10.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";


}





<section class="section main-section">

    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Reviwes
            </p>

            <p class="card-header-icon">
                @Html.ActionLink("Create New", "Create")
            </p>
            <a href="/Orders/Index" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.flag)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.flag)*@

                            @if (item.flag == true)
                            {
                                <span>Appeared</span>
                            }
                            else
                            {
                                <span>Hidden</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
                        </td>
                    </tr>
                }

            </table>

            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        <button type="button" class="button active">1</button>
                        <button type="button" class="button">2</button>
                        <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
    </div>
</section>